<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta name="theme-color" content="#1c1c22">

        <title>{{ this.page.title }} - Kenol David</title>
    <link href="./themes/legba/assets/dist/css/bootstrap.bundle.css?f03ca1a450cfb9bb141c" rel="stylesheet"></head>

    <body id="page-{{ this.page.id }}">
        <header>
            <!-- <h1>The header goes here...</h1> -->
            {% partial "../partials/site/header" %}
        </header>

        <main id="{{ this.page.id }}">
            <!-- <h1>The page main content goes here!</h1> -->
            
            {% page %}
        </main>

        <footer id="main-footer">
            <!-- <h1>The footer goes here...</h1> -->
            {% partial "../partials/site/footer" %}
        </footer>

        <!-- JS Scripts -->

    <script type="text/javascript" src="./themes/legba/assets/dist/js/bootstrap.bundle.js?f03ca1a450cfb9bb141c"></script></body>

</html>