// Button Styles
.mybtn {
    display: block;
    padding: 0.5rem 1rem;
    border: 0;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;

    &:hover {
        background: $secondary-color;
        color: set-text-color($secondary-color); 
        text-decoration: $link-hover-decoration;       
    }
}

.btn-dark {
    @extend .mybtn;
    background: darken($primary-color, 50);
    color: $white;
}

.btn-light {
    @extend .mybtn;
    background: lighten($primary-color, 50);
    color: #333;
}


// Menu button
.menu-btn {
    position: absolute;
    z-index: 3;
    top: 35px;
    right: 35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        // margin: 0 0 5px 0;
        margin-bottom: 5px;
        background: set-text-color($primary-color);
        @include easeOut;
    }

    // Rotate into X with menu lines
    &.close {
        transform: rotate(180deg);

        .btn-line {
            // Line 1 - Rotate
            &:nth-child(1) {
                transform: rotate(45deg) translate(10px, 6px);
            }

            // Line 2 - Hide
            &:nth-child(2) {
                opacity: 0;
            }

            // Line 3 - Rotate
            &:nth-child(3) {
                transform: rotate(-45deg) translate(6px, -1px);
            }
        }
    }
}