h1, h2, h3, 
h4, h5, h6 {
    margin: 0;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        font-size: 2rem;
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;   
        background: rgba(lighten($primary-color, 2), 0.2);     
    }
}

a {
    color: #fff;
    text-decoration: none;
}

.text-secondary {
    color: $secondary;
}