h1, h2, h3, 
h4, h5, h6 {
    margin: 0;
    font-weight: 400;    

    &.lg-heading {
        font-size: 4rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;   
        background: rgba(lighten($primary-color, 3), 0.5);
        // letter-spacing: 2px;
        // word-spacing: 4px;
        
        &::first-letter {
            text-transform: uppercase;
        }     
    }
}

a {
    color: #fff;
    text-decoration: none;
}

.text-secondary {
    color: $secondary-color !important;    
}