// @import '../functions/functions';

body {
    @include page-background-image();
    background-color: $body-color;
    color: set-text-color($primary-color);
    height: 100vh;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    // line-height: 1.5;
}

a {
    color: $link-color;
    text-decoration: $link-hover-decoration;

    &:hover {
        color: $link-hover-color;
        text-decoration: $link-hover-decoration;
        @include easeOut();
    }
  }

header {
    position: fixed;
    width: 100%;
    z-index: 2;
}

main {
    min-height: calc(100vh - 60px);
    padding: 4rem;
}

footer {
    
    &#main-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;

        min-height: 60px;
        padding: 1rem;
        background: darken($primary-color, 10);
        color: set-text-color($primary-color);
        text-align: center;
        
        // letter-spacing: 2px;
        word-spacing: 1px;

        small::first-letter {
            text-transform: uppercase;
        }

        .fa-heart {
            color: $red;
        }

        a {
            &.text-secondary {
                font-weight: 600;
                color: set-text-color($primary-color) !important;

                &:hover {
                    color: $secondary-color !important;
                }
            }
        }
    }
} // end footer (about page)

/*
    LAYOUTS - layout styles 
*/
@import '../layout/_nav';


/*
    PAGES - Indiviual page styles 
*/
@import '../pages/_home';
@import '../pages/_about';
@import '../pages/_projects';
@import '../pages/_contact';