// @import '../functions/functions';
html {
  height: 100%;
  // background-color: $yellow;
}

body {
  @include page-background-image();

  @import url("https://fonts.googleapis.com/css?family=Open+Sans|Varela+Round&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans|Oxygen&display=swap");
  @import url("https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap");

  @import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
  @import url("https://fonts.googleapis.com/css?family=Indie+Flower|Lato|Oswald|Raleway");
  @import url("https://fonts.googleapis.com/css?family=Oswald");

  font-family: $default-font-family;
  font-style: $default-font-style;
  font-weight: $default-font-weight;
  // font-size: $default-font-size;
  line-height: $default-line-height;
  // color: $default-font-color;

  color: set-text-color($primary-color);
  background-color: $default-body-bg-color;
  // background-image: $default-body-bg-image;
  background-position: $default-body-bg-position;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-blend-mode: normal;
  min-height: 100%;
}

a {
  color: $link-color !important;
  text-decoration: $link-hover-decoration;

  &:hover {
    color: $link-hover-color !important;
    text-decoration: $link-hover-decoration;
    @include easeOut();
  }
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
}

main {
  min-height: calc(100vh - 60px);
  padding-right: 3.5rem;
  padding-left: 3.5rem;
}

footer {
  &#main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;

    min-height: 60px;
    padding: 1rem;
    // background: darken($primary-color, 10);
    background: darken($footer__default-bg-color, 2.5);
    color: set-text-color($primary-color);
    text-align: center;

    font-family: $default-font-family-paragraphs;

    letter-spacing: 1px;
    word-spacing: 1px;

    small::first-letter {
      text-transform: uppercase;
    }

    .fa-heart {
      color: set-icon-color($red);
    }

    .fa-coffee {
      color: set-icon-color($chocolate);

      &:hover {
        color: $secondary-color !important;
      }
    }

    .fa-code {
      color: set-icon-color($blue);
    }

    // .fa-digital-ocean {
    //   color: set-icon-color($blue);
    // }

    a {
      &.text-secondary {
        // font-weight: 500;
        color: set-text-color($primary-color) !important;

        &:hover {
          color: $secondary-color !important;
        }
      }

      // &.digital-ocean {
      //   &:hover {
      //     color: $blue !important;
      //   }
      // }
    }

    #host {
      // display: block;
      // width: 100%;
      // border: 1px solid #fff;
      img {
        height: 1.2rem;
        padding-bottom: 3px;
      }
    }
  }
} // end footer (about page)

/*
    LAYOUTS - layout styles 
*/
@import "../layout/_nav";

/*
    PAGES - Indiviual page styles 
*/
@import "../pages/_home";
@import "../pages/_about";
// @import '../pages/_projects';
@import "../pages/_contact";
