// Widescreens
@include mediaXL {
    header {

    }

    main {      

        &#work {

            .projects {
                grid-template-columns: repeat(4, 1fr);
            }

        } // end element ID 'about'
    } 
}

// Desktops and Laptops
@include mediaLG {
    header {

    }

    main {      

        &#work {

            .projects {
                grid-template-columns: repeat(4, 1fr);
            }

        } // end element ID 'work'
    } 
}

// Tablets and Small Laptops
@include mediaMD {
    
}

// Smartphones
@include mediaSM {

     main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
            font-size: 3.2rem;
        } 
        
        &#about {

            .about-info {
                display: grid;
                grid-gap: 30px;
                grid-template-areas: 
                    'bioimage'
                    'bio'
                    'bio'
                    'job1' 
                    'job2'
                    'job3';
                grid-template-columns: repeat(1, 1fr);
            }
        
            .bio {
                font-size: 1.1rem;
            }
    
            .job {
                
                h3 {                    
                    font-size: 1rem;
                }

                h6 {                    
                    font-size: .8rem;
                }
            }
        } // end element ID 'about'

        &#work {

            .projects {
                grid-template-columns: repeat(2, 1fr);
            }

        } // end element ID 'work'
    }  
}

// Smartphones
@include mediaXS {

    header {

        nav {

            &.menu {                
                .menu-nav,
                .menu-branding {
                    float: none;
                    width: 100%;
                    min-height: 0;

                    &.show {
                        transform: translate3d(0, 0, 0);
                    }
                }

                .menu-branding {
                    height: 25vh;
                    transform: translate3d(100%, 0, 0); // Slide in from right

                    .portrait {
                        width: 150px;
                        height: 150px;
                    }
                }

                .menu-nav {
                    height: 75vh;
                    transform: translate3d(-100%, 0, 0); // Slide in from left            

                    // @include easeOut;

                    // &.show {
                        // Slide in from top
                        // transform: translate3d(0, 0, 0);
                    // }

                    .nav-link {
                        font-size: 24px;
                        font-weight: 400;
                    }
                }
            }
        }
    }

    main {
        padding: 0.75rem;
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-top: 2rem;
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }        

        &#home {

            h1 { 
                margin-top: 15vh;
            }
        }

        &#about {

            .lg-heading {
                // border: 1px solid $white;
                margin-top: 0.8rem;
                // margin-right: 4rem;
                text-align: left;
                // text-transform: uppercase !important;

                [id="full-name"] {
                    display: block;
                    // text-transform: uppercase !important;
                }
            }

            .sm-heading {
                // text-align: left;
            }

            .about-info {
                grid-row-gap: 30px;
                grid-template-areas: 
                    'img'
                    'bio'
                    'bio'
                    'link'
                    'link'
                    'hdr'
                    'job1' 
                    'job2'
                    'job3'
                    'site';
                grid-template-columns: repeat(1, 1fr);
            }                

            .bio {
                
            } //! end .bio

            .link {                
                justify-content: center;

                a {
                    &:nth-child(1) {
                        margin-top: 1rem;
                        margin-bottom: 0.5rem;
                    }

                    &:nth-child(2) {
                        margin-top: 0.5rem;
                        margin-bottom: 1rem;
                    }
                } 
            } //! end .link

            .section-title {
                // margin-top: 0 !important;
            } //! end .highlights

            .job {
                margin-bottom: 30px;      
                border-radius: 10px;                          
            }

            .job-1 {
                margin-top: -20px !important;
            }

            .about-the-site {
                width: 97% !important;
                padding-top: 10px;
                padding-bottom: 10px;
                padding-right: 10px !important;
                padding-left: 10px !important;
                
                p, ul {
                    text-align: left;
                }
            } //! end .about-the-site
            
        } //! end element ID 'about'

        
        &#work {

            .sm-heading {
                font-size: 0.9375rem;
            }

            .projects {
                grid-template-columns: 1fr;
            }

        } // end element ID 'work'
    } 
}