//! MAIN section for the contact page
//!
//! Using CSS Grid

main {

    &#contact {

        overflow: hidden;

        // padding-top: 0;        
        padding-bottom: 0;   
        
        .sm-heading {
            margin-bottom: 20px !important;              
        }

        .contact-info {
            margin: 2rem 100px !important;
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-areas: 
                'text text text text'
                'form form ca ca'
                'form form ca ca'
                'form form ca ca'
                'form form ca ca';
            grid-column-gap: 30px;
            // grid-row-gap: 30px;

            // background-color: $white;
            // border: 1px solid $red;

            .contact-intro {
                grid-area: text;
                // background-color: saddlebrown;

                a {                        
                    // border: 1px solid red;                
                    display: inline-block;
                }
                .fas {
                    position: relative;
                    top: -6px;
                    right: 1px;
                }
            }
            form {
                grid-area: form;
                padding: 10px;
                border: 1px solid $primary-color;
                border-radius: 10px;
                // background-color: darkgreen;

                display: grid;
                grid-template-columns: repeat(2, 1fr);
                grid-template-areas: 
                'fullname email'
                'sub sub'
                'msg msg'
                'btn btn';                    
                
                .fullname {
                    grid-area: fullname;
                    margin-right: 10px;
                }
                .email {
                    grid-area: email;
                }
                .subject {
                    grid-area: sub;
                    width: 100%;
                }
                .message {
                    grid-area: msg;
                }
                .btn {
                    grid-area: btn;
                }
            } //! end form

            .container {
                grid-area: ca;
                // border: 1px solid red;

                .cashapp {
                    display: grid;
                    grid-template-columns: 100px 375px;
                    grid-template-rows: 100px 30px;
                    grid-gap: 5px 5px;
                    padding: 8px;
                    border: 1px solid green;
                    border-radius: 10px;
                    
                    .items { 
                        margin-bottom: 0.625rem;
                        // padding: 9px 0;
                        // margin-top: 0.5rem;
                        // background-color: #666;
                        // border: 1px solid blue; 

                        .title {
                            font-weight: 500;
                            // background-color: #000000;
                        }
                        .subtitle {
                            // padding: 9px 0;
                            font-size: .9345rem;
                            // background-color: brown;
                        }
                    }
                    
                    a { 
                        img {
                            width: 100px;
                            height: 100px;
                            opacity: .5;

                            &:hover {
                                opacity: 1;
                                @include easeOut;
                            }
                        }

                        &.link {
                            align-self: start;
                            justify-self: center;
                            margin-left: 4px;
                            font-size: 0.875rem;
                            @include easeOut;
                            // background-color: #000000; 
                            
                            display: inline-flex;

                            .fas {
                                position: relative;
                                top: 0;
                                right: -3px;
                            }
                        }                            
                    }                        
                }
            }                                          
        } //! end .contact-info

    } // end element ID 'contact'

} // end main (contact page)

/* footer {
    margin-top: 0 !important;
    &#main-footer {
        padding: 0 !important;
    }
} */