// MAIN section for the home page
main {
  &#home {
    overflow: hidden;
    min-height: calc(100vh - 60px);
    padding-right: 3.5rem;
    padding-left: 3.5rem;

    h1 {
      margin-top: 30vh;
    }

    h1,
    h2 {
      line-height: $default-line-height - 0.5;
    }

    h2 {
      padding-top: 0.36rem !important;
      padding-bottom: 0.36rem !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      p {
        margin-bottom: 0 !important;
        // border-top-left-radius: 5px;
        // border-top-right-radius: 5px;
        // border-bottom-left-radius: 5px;
        // border-bottom-right-radius: 5px;
      }
    }

    .fa-fist-raised:before {
      content: "\f6de";
    }

    .fa-fist-raised {
      color: $magenta;
    }

    .icons {
      margin-top: 1rem;

      a {
        padding: 0.4rem;
        color: $link-color;

        &:hover {
          color: $link-hover-color;
          text-decoration: $link-hover-decoration;
          @include easeOut();
        }
      }
    }
  }
}
