<small id="site-wide-signature">
    made with
    <i class="fas fa-heart"></i>
    +
    <a href="#">
        <i class="fas fa-coffee"></i>
    </a>
    +
    <i class="fas fa-code"></i>
    by
    <a href="#" class="text-secondary">@kenoldavid</a>
    in
    <a href="#">Lauderhill.</a>
</small>
<small id="copyright">
    &copy;
    {{ "now" | date("Y") }}
    Kenol David
</small>
<small id="host">Proudly hosted with
    <span>
        <img src="{{ './themes/legba/assets/dist/images/DO_Logo_Horizontal_White.png' }}" alt="{{ image.alt }}">
    </span>
</small>
