// @import "./variables/customizations.scss";

.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
  color: white;
}
.navbar-dark .navbar-brand {
  color: $red;
}
.modal{
  color: black;
}
