<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!-- <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}"> -->

        <!-- {% styles %} -->

        <title>{{ this.page.title }} - Kenol David</title>
    </head>

    <body id="bg-img">
        <header>
            <!-- <h1>The header goes here...</h1> -->
            <!-- {% partial 'site/header' %} -->
        </header>

        <main id="home">
            <!-- <h1>The page main content goes here!</h1> -->
            <!-- {% page %} -->
        </main>

        <footer id="main-footer">
            <!-- <h1>The footer goes here...</h1> -->
            <!-- {% partial 'site/footer' %} -->
        </footer>

        <!-- JS Scripts -->

    </body>

</html>