//! ****************************************************************
//!
//!     Overriding Bootstrap Framework Sass Variables
//!
//! ****************************************************************

//! Color system
$white:    #fff !default;
$black:    #000 !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$blue:     #007bff !default;
$indigo:   #6610f2 !default;
$purple:   #6f42c1 !default;
$pink:     #e83e8c !default;
$red:      #dc3545 !default;
$magenta:  #89202e !default;
$orange:   #fd7e14 !default;
$yellow:   #ffc107 !default;
$green:    #28a745 !default;
$teal:     #20c997 !default;
$cyan:     #17a2b8 !default;
$chocolate:#d2691e !default;
$dark-blue:#15151c !default;

$primary:   #1c1c22;
$secondary: $yellow;

$primary-color:     $primary;
$secondary-color:   $secondary;

//! Body
$body-bg:    $white;
$body-color: $primary-color;

//! Links
$link-color: $white;
$link-hover-color: $secondary-color;
$link-hover-decoration: none;

//! ****************************************************************
//!
//!     Our Custom Sass Variables
//!
//! **************************************************************** 

//* Flags
$show-home-image:        true;
$show-about-image:       true;
$show-site-wide-image:   false;


//* Images
$landing-page-image:     url("../images/backgrounds/landing.webp");
// $landing-page-image:     url("../images/backgrounds/bg.jpg");
$site-wide-image:        url("../images/manhattan-bridge.jpg");
// $default-portrait-image: url("../images/portraits/portrait-sm.jpg");

// $default-portrait-image: url("../images/portraits/portrait.jpg");
// $default-portrait-image: url("../images/portraits/portrait-0.jpg");
// $default-portrait-image: url("../images/portraits/portrait-1.jpg");
// $default-portrait-image: url("../images/portraits/portrait-2.jpg");
// $default-portrait-image: url("../images/portraits/portrait-3.jpg");
// $default-portrait-image: url("../images/portraits/portrait-4.jpg");
// $default-portrait-image: url("../images/portraits/portrait-5.jpg");
// $default-portrait-image: url("../images/portraits/portrait-6.jpg");

// $default-portrait-image: url("../images/portraits/portrait-7.jpg");

// $default-portrait-image: url("../images/portraits/portrait-9.jpg");
// $default-portrait-image: url("../images/portraits/portrait-10.jpg");
// $default-portrait-image: url("../images/portraits/portrait-11.jpg");
// $default-portrait-image: url("../images/portraits/portrait-12.jpg");
$default-portrait-image: url("../images/portraits/portrait-13.jpg");


//* <BODY> Default Background Properties
$default-body-bg-color:         $body-color;
$default-body-bg-image:         $site-wide-image;
$default-body-bg-position:      left top;     // left|right|center|initial|inherit 
$default-body-bg-size:          auto;         // auto|length|cover|contain|initial|inherit
$default-body-bg-repeat-x:      repeat-x;     // repeat-x|no-repeat|initial|inherit
$default-body-bg-repeat-y:      repeat-y;     // repeat-y|no-repeat|initial|inherit
$default-body-bg-origin:        border-box;   // padding-box|border-box|content-box|initial|inherit;
$default-body-bg-clip:          border-box;   // padding-box|border-box|content-box|initial|inherit;
$default-body-bg-attachment:    scroll;       // scroll|fixed|local|initial|inherit
$default-body-bg-blend-mode:    normal;       // normal|multiply|screen|overlay|darken|lighten|color-dodge|saturation|color|luminosity
$default-body-bg-opacity:       0.5;
$default-body-bg-z-index:       -1;


//* <FOOTER> Default Properties
// $footer__default-bg-color: $dark-blue;
$footer__default-bg-color: $dark-blue;


//* Fonts & Line Heights  *// 
$default-font-size: 16px;
$default-font-family: 'Varela Round', sans-serif;
// $default-font-family: 'Oswald', 'Roboto Slab', serif;
// $default-font-family-paragraphs: 'PT Sans', sans-serif;
// $default-font-family-paragraphs: 'Open Sans', sans-serif;
$default-font-family-paragraphs: 'Oxygen', sans-serif;
$default-font-style: normal;
$default-font-weight: normal;
// $default-font-color: #000000;
$default-line-height: 2;

/* Titles */
$default-font-size-title: 64px;

/* Subtitles */
$default-font-size-subtitle: 26px;