///
// Flags
//
$show-home-image: true;

//
// Images
//
$home-image: url(../../../dist/img/bg-5.jpg); // Use with Live Server
$default-portrait-image: url(../../../dist/img/portrait.jpg); 
// $home-image: url(file:///C:/Users/Ken/Sites/kenoldavid/dist/img/bg-5.jpg); // Use with filesystem

$background-opacity: 0.4;


//
// Color system
//

$primary:   #444;
$secondary: #eece1a;

$primary-color:     $primary;
$secondary-color:   $secondary;

// Body
//
// Settings for the `<body>` element.

$body-color:                $primary-color;


// Links
//
// Style anchor elements.

$link-color:                $white;
$link-hover-color:          $secondary-color;
$link-hover-decoration:     none;