///
// Flags
//
$show-home-image: true;

//
// Images
//
$home-image: url(../img/backgrounds/bg-2.jpg); // Use with Live Server
$default-portrait-image: url(../img/portraits/portrait-4.jpg); 

$background-opacity: 0.4;

//
// Color system
//

$primary:   #444;
$secondary: #eece1a;

$primary-color:     $primary;
$secondary-color:   $secondary;

// Body
//
// Settings for the `<body>` element.

$body-color:                $primary-color;


// Links
//
// Style anchor elements.

$link-color:                $white;
$link-hover-color:          $secondary-color;
$link-hover-decoration:     none;